<!doctype html>
<html class="no-js" lang="en">
<!--[if'IE'9]><html'class="lt#ie10"'lang="en"'>'<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ config.AUTHOR }}">
  <title>{% block title %}{{ config.SITENAME }}{% endblock %}</title>

  <!-- Style -->
  
  <link rel="stylesheet" href="{{ theme_static('css/foundation.min.css') }}"/>
  <link rel="stylesheet" href="{{ theme_static('css/normalize.css') }}"/>
  <link rel="stylesheet" href="{{ theme_static('css/pygments.css') }}"/>
  <link rel="stylesheet" href="{{ theme_static('css/foundation-icons.css') }}"/>
  <link rel="stylesheet" href="{{ theme_static('css/style.css') }}"/>

  <script src="{{ theme_static('js/vendor/modernizr.js') }}"></script>

</head>
  
<body>

<!--'body'content'here'-->
  <!-- Nav Bar -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="{{ url_for('index') }}">
           Accueil
          </a>
        </h1>
      </li>
    </ul>
    
    <section class="top-bar-section">
      <ul class="left">
      {% if g.static_pages %}
        {% for page in g.static_pages %}
          <li><a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a></li>
        {% endfor %}
      {% endif %}  
      </ul>

      <ul class="right">
        <li><a href="{{ url_for('archives') }}"><i class="fi-list-thumbnails"></i> {{ _('Archive') }}</a></li>
        {% if config.RSS == 'YES' %}
        <li><a href="{{ url_for('feed') }}"><i class="fi-rss"></i> {{ _('RSS feed') }}</a></li>
		    {% endif %}

        <li class="has-form">  
          <form action="{{url_for('search')}}" method="post" name="search">
            <div class="row collapse">
              <div class="large-9 small-10 columns" >
				      {{g.search_form.hidden_tag()}}
              {{g.search_form.search(size=20)}}
              <input type="submit" value="Search" style = "display : none">   
			        </div>
            </div>    
          </form>
        </li>       
      </ul>
    </section>
  </nav>
 
  <!-- Main Blog Content -->
  <section role="main">
    <div class="myheader">
      <div class="row">
        <div class="large-12 large-centered columns">
          <h1>{{ config.SITENAME }}</h1>
          {% if config.SUBTITLE %}
          <h2><small>{{ config.SUBTITLE }}</small></h2>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-9 columns" role="content">
      {% block content %}
      {% endblock %}
      </div>


    <!-- End Main Content -->    
    
    <!-- Sidebar -->
    
      <aside class="large-3 columns">
  	    <div class="panel">
  		    <ul class="side-nav">
  		    {% if g.categories %}
          <li class="heading">Categories</h4></li>
  		      {% for cat in g.categories %}
  		      <li><a href="{{ url_for('category', category = cat) }}">{{ cat }}</a></li>
            {% endfor %}
  		    {% endif %}
          <li class='divider'>
          <li class="heading">Blogroll</h4></li>
            <li><a href="https://joacodepel.tk/hg/microbe/summary">Get Microbe</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
          <li class='divider'>
          <li class="heading">Social</h4></li>
            <li><a href="https://twitter.com/letchap">
            <i class="fi-social-twitter medium"></i> Twitter</a></li>
          </ul>		 
        </div>
      </aside>
    <!-- End Sidebar -->
    </div>
 
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
 
    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <p>© Copyright WTFP</p>
          </div>
        </div>
      </div>
    </footer>
  </section>
 
  <!-- End Footer -->

  <script src="{{ theme_static('js/vendor/jquery.js') }}"></script>
  <script src="{{ theme_static('js/foundation.min.js') }}"></script>
  <script>
      $(document).foundation();
  </script>
</body>	
