{% extends theme("base.html") %}

{% block head %}
  {{ super() }}
{% endblock %}

<!--'body'content'here'-->
  <!-- Nav Bar -->
  {% block topbar %}
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="{{ url_for('index') }}">
           Accueil
          </a>
        </h1>
      </li>
    </ul>
    
    <section class="top-bar-section">
      <ul class="left">
      {% if g.static_pages %}
        {% for page in g.static_pages %}
          <li><a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a></li>
        {% endfor %}
      {% endif %}  
      </ul>

      <ul class="right">
        <li><a href="{{ url_for('archives') }}"><i class="fi-list-thumbnails"></i> {{ _('Archive') }}</a></li>
        {% if config.RSS == 'YES' %}
        <li><a href="{{ url_for('feed') }}"><i class="fi-rss"></i> {{ _('RSS feed') }}</a></li>
		    {% endif %}

        <li class="has-form">  
          <form action="{{url_for('search')}}" method="post" name="search">
            <div class="row collapse">
              <div class="large-9 small-10 columns" >
				      {{g.search_form.hidden_tag()}}
              {{g.search_form.search(size=20)}}
              <input type="submit" value="Search" style = "display : none">   
			        </div>
            </div>    
          </form>
        </li>       
      </ul>
    </section>
  </nav>
  {% endblock %}
 
  <!-- Main Blog Content -->
  {% block main %}
  <section role="main">
    <div class="myheader">
      <div class="row">
        <div class="large-12 large-centered columns">
          <h1>{{ config.SITENAME }}</h1>
          {% if config.SUBTITLE %}
          <h2><small>{{ config.SUBTITLE }}</small></h2>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-9 columns" role="content">
      {% block content %}
      {% endblock %}
      </div>


    <!-- End Main Content -->    
    
    <!-- Sidebar -->
    
      <aside class="large-3 columns">
  	    <div class="panel">
  		    <ul class="side-nav">
  		    {% if g.categories %}
          <li class="heading">Categories</h4></li>
  		      {% for cat in g.categories %}
  		      <li><a href="{{ url_for('category', category = cat) }}">{{ cat }}</a></li>
            {% endfor %}
  		    {% endif %}
          {% if g.links %}
            {% for category, links in g.links.iteritems() %}
              {% if links %}
              <li class="divider">
              <li class="heading">{{ category | title}}</li>
                {% for link in links %}
                <li>{{ link.html | safe }}</li>
                {% endfor %}
              {% endif %}

            {% endfor %}
          {% endif %}

          </ul>		 
        </div>
      </aside>
    <!-- End Sidebar -->
    </div>
 







  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
    {% block footer %}
    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <p>© Copyright WTFPL</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
  </section>
  {% endblock %}
 
  <!-- End Footer -->


